// Burger Menu
.menu-icon {
  display: none;
  position: relative;
  width: 30px;
  height: 18px;
  span,
  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 9px;
    opacity: 1;
    transition: 0.3s ease-in-out;
  }
  span {
    top: 9px;
    transform-origin: left center;
  }
  &::before {
    top: 0px;
    transform-origin: left center;
  }
  &::after {
    top: 18px;
    transform-origin: left center;
  }
}
.menu-open {
  transform: none !important;
}
.menu-active {
  span {
    width: 0%;
    opacity: 0;
  }
  &::before {
    transform: rotate(45deg);
    top: -3px;
    left: 5px;
  }
  &::after {
    transform: rotate(-45deg);
    top: 18px;
    left: 5px;
  }
}
.scroll-stop {
  overflow: hidden;
}
@media (max-width: $mobile) {
  .menu-icon {
    display: block;
  }
  .menu {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    height: 100vh;
    transform: translateX(100%);
    background-color: rgb(59, 199, 105);
    transition: transform 0.3s ease 0s;
    overflow-y: auto;
    &__list {
      flex-direction: column;
      height: 100%;
      justify-content: center;
      align-items: center;
      gap: 30px;
    }
  }
}
