// Burger Menu
/*
.menu-icon {
  display: none;
  position: relative;
  width: 30px;
  height: 20px;
  z-index: 10;
  span {
    position: absolute;
    width: 100%;
    height: 3px;
    top: 50%;
    left: 0;
    background-color: #000;
    transform: translateY(-50%);
    transition: opacity 0.3s ease 0s;
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    background-color: #000;
    transition: transform 0.3s ease 0s, top 0.3s ease 0s, bottom 0.3s ease 0s;
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
}
.menu-open {
  transform: none !important;
}
.menu-active {
  span {
    opacity: 0;
  }
  &::before {
    top: calc(50% - 1px);
    transform: rotate(45deg);
  }
  &::after {
    top: calc(50% - 1px);
    bottom: auto;
    transform: rotate(-45deg);
  }
}
.scroll-stop {
  overflow: hidden;
}
@media (max-width: $mobile) {
  .menu-icon {
    display: block;
  }
  .menu {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    height: 100vh;
    transform: translateX(100%);
    background-color: green;
    transition: transform 0.3s ease 0s;
    overflow-y: auto;
    &__list {
      flex-direction: column;
      height: 100%;
      justify-content: center;
      align-items: center;
      gap: 50px;
    }
  }
}
*/
