@import "null";
@import "vars";
// @import "fonts";

$pc: var(--container-width); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 991.98px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98px; // Телефоны L
$mobile-mall: 479.98px; // Телефоны S

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  // Прижимаем footer
  > main {
    flex: 1 1 auto;
  }
  // Фикс для слайдеров
  > * {
    min-width: 0;
  }
}
.container {
  box-sizing: content-box;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 15px;
}

@import "common";
@import "header";
@import "main";
@import "footer";
